{% extends 'trek_v2/base.html' %}
{% load static%}
{% block title %}
About
{% endblock title %}

<head>
    <link href="{% static 'CSS/external_v2.css' %}" rel="stylesheet" type="text/css">
</head>

{% block body %}

<body>
    <div class="About">
        <div style="margin-left: 20%; width: 60%; margin-top: 10%; position: absolute; z-index: 9999;" class="caption">

            <h1 style="z-index: 9999; color: rgb(7, 7, 7); margin-top: 10;">Let's make Adventure and tourism more
                        cheaper than ever together</h1>
            <h4 style="margin-bottom: 20;">    | With us, Learn how to lead rather than follow |</h4>
        </div>

        <div>
            <img style="z-index: 1;" src="{% static 'images/ladakh.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>

    <div style="background-color: rgb(192, 193, 201);" class="value mt-3">
        <h1
            style="font-weight: bold; text-decoration: underline; text-decoration-color: orangered;font-size: 200%; padding-left: 40%;">
            Our Aim</h1>
        <!-- <hr style="size: 100%; color: rgb(236, 100, 51);" class="mt-0"> -->
    </div>

    <div style="height: 400px; width: 100%; background-color: orangered;" class="value">
        <div style="position: absolute; z-index: 9999; background-color: transparent;" class="value w-100">
            <ol style="font-size: 120%; margin-top: 3%; padding-left: 20%; font-weight: bold;">
                <li>
                    Reasonable Price: You will get every Adventure activity at low price than any other market players.
                </li>
                <li>
                    Accessibility: Easy to reach your destination and access to all thrill and adventure.
                </li>
                <li>
                    Transparency: Get all rights to know about what you are paying for.
                </li>
                <li>
                    Safety: Our prime and main concern to provide all the adventure and Trek with higher level safety.
                </li>
            </ol>
            <!-- <h1
                style="font-weight: bold; text-decoration: underline;font-size: 200%; padding-left: 40%;">
                Our Focus</h1> -->
        </div>

        <div class="container-value">
            <div style="position: absolute; z-index: 1;" class="values w-100">
                <img style="height: 400px;" src="{% static 'images/values1.jpg' %}" class="w-100" alt="...">
            </div>
        </div>
    </div>

    <div style="background-color: rgb(192, 193, 201);" class="value mt-3">
        <h1
            style="font-weight: bold; text-decoration: underline; text-decoration-color: orangered;font-size: 200%; padding-left: 40%;">
            Who We Are?</h1>
        <!-- <hr style="size: 100%; color: rgb(236, 100, 51);" class="mt-0"> -->
    </div>
    <div style="margin-left: 20%;" class="about-us w-50">
        <p>
            We are Group of 3 People, Alumni of IIT-Bombay. We have statrted this mission back in 2019. The whole
            purpose of this mission is provide all trekking experiences and adventurs at reasonable price and
            support the trekking guides and local people who are getting paid less than what they deserve. We are
            getting support from local people
            and people are joining us.
        </p>
    </div>
    <div style="background-color: rgb(192, 193, 201);" class="value mt-3">
        <h1
            style="font-weight: bold; text-decoration: underline; text-decoration-color: orangered;font-size: 200%; padding-left: 40%;">
            Contact Us</h1>
    </div>
    <div class="contact">
        <div style="margin-top: 10%; margin-left: 30%; width: 60%; position: absolute; z-index: 9999;" class="contact-us">
            <img style="height: 100px;" src="{% static 'images/whatsapp.png' %}" class="" alt="...">
            <h1 style="z-index: 9999; color: rgb(7, 7, 7); margin-top: 10;">Contact Us: </h1>
            <ol>
                <li>
                    Call and whatsapp:
                </li>
                <li>
                    Email:
                </li>
            </ol>
            
        </div>

        <div>
            <img style="z-index: 1;" src="{% static 'images/contact.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    </div>
</body>


{% endblock body %}