{% extends 'trek_v2/base.html' %}
{% load static%}
{% block title %}
terms and condition
{% endblock title %}

{% block body %}


<!-- <div class="menu-holder"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" href="/Home"> <b>Hike>enture</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/Treks" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Treks</b>
                </a>
                <div style="border: 1px green solid; width: 400%;background-color: rgb(240, 236, 230);"
                    class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- <p><a href="#C4">Jump to Chapter 4</a></p> -->
                    <p style="padding-left: 2%;"><a href="#Chadar">Chadar Trek</a></p>
                    <p style="padding-left: 2%;"><a href="#sham">Sham valley Trek</a></p>
                    <p style="padding-left: 2%;"><a href="#nubra">Nubra Valley Trek</a></p>
                    <p style="padding-left: 2%;"><a href="#markha">Marka Valley Trek</a></p>
                    <p style="padding-left: 2%;"><a href="#stock">Stock kangri Trek</a></p>
                    <p style="padding-left: 2%;"><a href="#snow">Snow Leopard Trek</a></p>
                    <p style="padding-left: 2%;"><a href="#rumtse">Rumtse to TSO Morir Trek via Tsokar Lake</a>
                    </p>
                    <!--<div class="dropdown-divider"></div> -->
                    <!--<a class="dropdown-item" href="#">Something else here</a>-->
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/road_trip" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Road Trip</b>
                </a>
                <div style="border: 1px green solid; width: 400%;background-color: rgb(240, 236, 230);"
                    class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- <p><a href="#C4">Jump to Chapter 4</a></p> -->
                    <p style="padding-left: 2%;"><a href="#srinagar">Srinagar - Leh via Khardungla Pass, Road
                            Trip</a></p>
                    <p style="padding-left: 2%;"><a href="#darcha">Leh - Darcha via kargil - Shinkula pass, Road
                            Trip</a>
                    </p>
                    <!-- <a class="nav-link" href="/road_trip"><b>Road Trip</b></a> -->
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/river_rafting" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>River Rafting</b>
                </a>
                <div style="border: 1px green solid; width: 200%;background-color: rgb(240, 236, 230);"
                    class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- <p><a href="#C4">Jump to Chapter 4</a></p> -->
                    <p style="padding-left: 2%;"><a href="#zanskar">Zanskar River Rafting</a></p>
                    <p style="padding-left: 2%;"><a href="#indus">Indus River Rafting</a></p>
                    <!-- <a class="nav-link" href="/river_rafting"><b>River Rafting</b></a> -->
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/river_rafting" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Rock Climbing</b>
                </a>
                <div style="border: 1px green solid; width: 200%;background-color: rgb(240, 236, 230);"
                    class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <p style="padding-left: 2%;"><a href="#suru">Suru Valley Rock climbing</a></p>
                    <p style="padding-left: 2%;"><a href="#shey">Shey Valley Rock climbing</a></p>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/Contact"><b>Contact US</b></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/About"><b>About/Contact US</b></a>
            </li>
        </ul>

    </div>
</nav>
<!-- </div> -->


<!-- End NAV -->
<div style="margin: 5%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 35%;">|Terms and Condition|</h3>
</div>

<div style="margin: 5%; margin-top: -1%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 40%;">Trek fee</h3>
    <div>
        <p>
            The buy of any trekking services offered by Hikeventure buid a
            contractual arrangement between Hikeventure ('provider') and Client (hereinafter referred as 'You') ('Second
            Party').
            Both Parties are hereinafter referred as ('Parties'). Booking of services with Hikeventure represents your
            unconditional acceptance of the terms & conditions set out herein. These terms and conditions shall be
            applic on you and
            all the travel companions booked by you.
            Trekking, Peak climbing and mountaineering in Himalayan region brings an inherent risk to life and property
            of both Parties. Rapid weather change could causing injury and death, which is beyond Hikeventure control.
            Hikeventure always try its best to avoid such risks,
            discomfort and hazard to the best of their ability (within financial
            constraints), yet there are chances of accidents, mishaps and deficiency in service. So, you must agree with
            these terms and conditions. Please ensure that you read carefully and understand these terms prior to
            confirming
            your booking.
        </p>
    </div>
</div>


<div style="margin: 5%; margin-top: -1%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 35%;">marketing and promotions</h3>
    <div>
        <p>
            Owned photos and borrowed pictures used on the website are meant for marketing purposes. These do not imply
            the inclusion of the pictorial content to be a part of your adventure or any guarantee that you will
            experience,
            watch or meet whatever is rendered through the photos.
        </p>
    </div>
</div>

<div style="margin: 5%; margin-top: -1%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 35%;">Fitness responsibility</h3>
    <div>
        <p>
            Services provided by Hikeventure require different levels of fitness. The level of difficulty can be depends
            on extent of physical stress, the terrain, weather and / or climate. The level of difficulty for some treks
            and trips
            can be appeal for physically fitness. Before booking the trip ot trek please make sure or be sure or prepare
            for the difficulty levels accordingly.
            Please visit the hospital for fitness check up as Hikeventure is not medical expert(s) and it is your
            responsibility to obtain medical advice, latest health
            requirements including inoculations and vaccines before you join a trip. Hikeventure takes no responsibility
            for
            your inability to not stands with the level of difficulty on a trek. Only major treks requires specific
            preparation, a reasonable level of fitness adds to your experience.
            You are alone responsible for ensuring that you are ready
            for the trip in every conditions, counting physical and mental conditioning. You are also expected to carry
            with you the
            right clothing, gears and equipments. While there is no age limitation on any of Hikeventure trips, any
            disability,
            pregnancy, mental or physical or any other medical condition that may affect your fitness in order to
            complete the
            trek must be mentioned or tell us at the time of booking the trek or trip to Hikeventure. You also undertake
            that you and Your travel
            companions, for whom You have signed up, do not having or suffering from any disease, ill condition or
            disability that could create a
            problems or hazardous conditions to Your own health or to others on a trip.
            In any case or conditions you are not able to share this information with Hikeventure can cause your
            immediate termination from your trip at any stage of
            the trip with full cancellation penalty. Hikeventure reserves the right to decline, accept, and / or remove
            from a
            trip, any participant, at his or her sole expense, whose condition could create a hazard to any other member
            of the trip, including themselves.
        </p>
    </div>
</div>

<div style="margin: 5%; margin-top: -1%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 35%;">Program Dates</h3>
    <div>
        <p>
            You are only responsible to cross check the correct dates mentioned on the travel documents.
        </p>
    </div>
</div>

<div style="margin: 5%; margin-top: -1%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 40%;">Itinerary</h3>
    <div>
        <p>
            Your safety and joyfull trip is Hikeventure's prime concern. Hikeventure's' responsibility honestly &
            sincerely to make sure that your trip is or will be seamless or smooth (without any trouble or hazards) as
            desired.
            To adhere this responsibility, Hikeventure reserves the right to modify or cancel the trip or part of the
            trip
            due to weather conditions or any natural circumstances, including but not limiting to, Acts of God, road
            blockage, political unrest,
            cancellation of flight, delayed arrival, sickness, accidents, events beyond Hikeventure's control etc. Any
            extra cost
            arising from such circumstances shall be borne by you on the spot. Wherever possible Hikeventure shall
            intimate you
            of such changes in advance or while on the trip.
        </p>
    </div>
</div>

<div style="margin: 5%; margin-top: -1%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 40%;">Refund</h3>
    <div>
        <p>
            In any conditions if you willingly or voluntarily leave or drop out of a trip for any reason, No refund (any
            percent of total cost) will be given.
            If you are not utilizing any of the accommodation, transportation, sightseeing, meals
            or services, No refunds will be given.
            You shall be notified for alternate trip/dates in case Hikeventure cancels the trip due to unforeseen
            circumstances.
            The difference in cost, if applicable,
            will have to be borne by you. Hikeventure shall be not liable, for any additional costs, credit
            card charges, TAC(s), travel arrangements including but not limited to flight cancellation, railway, hotel,
            visas costs, onward arrangements coinciding with this trip etc, under no circumstances. Refunds in such a
            scenario will happen as
            per our cancellation policy.
            Hikeventure is also not liable to pay any compensation for any loss arising as a consequence of trip
            curtailment,
            alteration, extension or cancellation due to any reasons.
        </p>
    </div>
</div>


<div style="margin: 5%; margin-top: -1%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 40%;">Emergency Case</h3>
    <div>
        <p>
            During the trip or trek, You fall ill or suffer an accident during the trip, all hospital expenses, doctor
            fees,
            repatriation expenses, evacuation from road or mountain, any other charges incurred as a direct or indirect
            result of Your illness / accident are Your responsibility.
        </p>
    </div>
</div>

<div style="margin: 5%; margin-top: -1%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 40%;">Photography rights</h3>
    <div>
        <p>
            Hikeventure reserves all the right to take photographs and videos of you during any trip and can use photos
            shared by you through
            e-mail, whatsapp, any website link for the promotional purposes.
        </p>
    </div>
</div>

<div style="margin: 5%; margin-top: -1%; border: 2px black solid; background-color: green;">
    <h3 style="color: aliceblue; margin-left: 40%;">Website rights</h3>
    <div>
        <p>
            Hikeventure team posses all rights reserved regarding to  use of this website and as being an owner of the website and have authorization with license of the same. So, if you are copying or forming duplicate file
            design, style, graphic, appearance and other licensed  or website content is made, we are
            rights to take legal action against the offender. 
        </p>
    </div>
</div>


{% endblock body %}