/* {% load static %} */
a {
    color: green;
}

.navbar-brand{
    background-color: green;
    border: 1px rgb(14, 26, 12) solid;
    border-radius: 2rem;
    /* color: gold; */
}


ul li .nav-link {
    margin-left: 0%;
    color: rgb(1, 26, 1);
    font-weight: bolder;
    /* background-color: green; */
}


.navbar-dark .navbar-nav .nav-link {
    color: rgb(15, 13, 13);
    background-color: transparent;
    border-radius: 5rem;
    border: 1px rgb(14, 26, 12) solid;;
}


.main-wrapper{
    position: absolute;
    z-index: 9999;
    /* width: 100%; */
    }
    
.menu-holder{
    position: relative;
    z-index: -1;
    /* padding-right: 50px; */
    } 

.container-fluid{
height: 42rem;
border: 5px green solid;
/* position: absolute; */
/* margin-top: 0; */
/* z-index: -1; */
}

img{
    height: 41.5rem;
    width: 100px;
}

.trek-section{
    height: 300px;
    width: 348px;
    border: 2px green solid;
    border-radius: 10px;
}


.carousel-caption h5{
    background-color:  rgb(48, 25, 45);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 1000px;   
}

.container{
    background-color: rgb(243, 233, 233);
    /* height: ; */
    
}
#container-book{
    /* background-color: transparent; */
    width: 100%;
    /* border: .1rem rgb(145, 95, 39) solid; */
    margin-top: -10%;
    /* border-radius: 1%; */
    /* margin-left: 0%; */
    padding-left: 2%;
    background-image: url("/static/images/sham1.jpg");
    position: absolute;
    
    
    /* background-color: #cccccc; */
    /* height: ; */
}


.btn-group-sm>.btn, .btn-sm {
    color: green;
}

.header1{
    margin-top: 10%;
}

#trekoption{
    font-size: .1rem;
    color: green;
}

/* section -try */

p{
    color: rgb(3, 10, 10);
}

small{
    color: rgb(0, 0, 0);
}

label{
    color: rgb(2, 2, 2);
    /* font-weight: bolder; */
}
h5{
    color: white;  
}

.lead{
    color: white;
    font-weight: bolder;
    background-color: green;
    border-radius: 50%;
    margin-top: 15%;

}

.modal.custom .modal-dialog {
    width:100%;
    /* margin:0 auto; */
    /* background-color: rgb(164, 163, 214); */
    /*add what you want here*/
}

.query{
    width:100%;

    background-color: rgb(162, 192, 169);
}

.card{
    border: 1px rgb(129, 221, 113) solid;
    border-radius: 1rem;
}